In [352]:
import numpy as np
import pandas as pd
import xlrd

data = pd.read_excel('assignment-01-data-unformated.xlsx', index_col=1,error_bad_lines=False,skiprows=1)
data3 = data
# Melting the data with id-varse as name and latitude only as longitude is in different level of 
# hierarchy after import
d=pd.melt(data, id_vars=['name','latitude'])
data3 = data3.reset_index()
d2=pd.melt(data3, id_vars=['longitude','name','latitude'])
# Creatinf a separate dataframe and extracting the longitude column alone. This will be joined with the previous table on index
longitude = d2['longitude']
formatted = d.join(longitude)
# Identify the coral type names location (Every new coral type will start with site01 name and 2017 year)
d_name = formatted.loc[d.name == "site01",:]
d_name.loc[d_name.variable == 2017]
# Creating a new column Coral-type and inserted different coral types at different identified location
formatted['Coral-type']=np.nan
formatted.loc[[0],'Coral-type'] = "soft corals"
formatted.loc[[64],'Coral-type'] = "sea fans"
formatted.loc[[128],'Coral-type'] = "blue corals"
formatted.loc[[192],'Coral-type'] = "hard corals"
formatted.loc[[256],'Coral-type'] = "sea-pens"
formatted['Coral-type'].fillna(method='ffill', inplace=True)
formatted.rename(columns={'variable': 'year'}, inplace=True)
# Year column is in string format, converted that to float and then to int data type for cconsistency
formatted['year'] = formatted['year'].apply(float)
formatted['year'] = formatted['year'].apply(int)
formatted.to_excel('formatted-1.xlsx')

In [182]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model


data = [['2017',21.230],['2016',19.230],['2015',17.210],['2014', 15.780],['2013',14.800],['2012',],['2011',],['2010',]]
df = pd.DataFrame(data,columns=['Year','Coral'])
df

   Year  Coral
0  2017  21.23
1  2016  19.23
2  2015  17.21
3  2014  15.78
4  2013  14.80
5  2012    NaN
6  2011    NaN
7  2010    NaN

In [194]:
x_train = df.Year[0:5]
x_t = x_train.as_matrix(columns=None)
x = x_t.reshape((-1,1))


y_train = df.Coral[0:5]
y_t = y_train.as_matrix(columns=None)
y = y_t.reshape((-1,1))


x_test = df.Year[5:]
x_test = x_test.as_matrix(columns=None)
x_test = x_test.reshape((-1,1))

regr = linear_model.LinearRegression()
regr.fit(x,y)

y_pred = regr.predict(x_test)
y_pred

# working code

#y_pred = pd.Series(y_pred.flatten())
#df.Coral.dropna()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  if sys.path[0] == '':

array([[12.757],
       [11.126],
       [ 9.495]])